<hr>
<app-quote-detail [quote]="selectedQuote"></app-quote-detail>
<hr>
<form class="dark-matter">
  <h1>Enter a Quote</h1>
  <label>Quote:
    <input type="text" class="input" #quoteQuote />
  </label>
  <label>Author:
    <input type="text" class="input" #quoteAuthor>
  </label>
  <label>Submitted By:
    <input type="text"  class="input" #quoteSubmittedBy>
  </label>
  <button class="button" (click)="add(quoteQuote.value, quoteAuthor.value, quoteSubmittedBy.value); quoteQuote.value=''; quoteAuthor.value; quoteSubmittedBy.value">
    add
  </button>

</form>
<h2>My Quotes</h2>
<blockquote class="default" *ngFor="let quote of quotes">
  <a routerLink="/detail/{{quote.id}}">
  <h1><span class="Cdefault">"{{quote.quote}}"</span></h1>
</a>
  <p>{{quote.submittedBy}}</p>
<code>
<span>{{quote.author}}</span>
</code>
<button class="bubbly-button Cdefault" title="delete quote"
(click)="delete(quote)">x</button>
</blockquote>
