<app-quote-detail [quote]="selectedQuote"></app-quote-detail>
<h2>My Quotes</h2>
<ul class="quotes">
  <li *ngFor="let quote of quotes">
    <a routerLink="/detail/{{quote.id}}">
      <span>"{{quote.quote}}"</span>
      <ol>{{quote.id}}-->{{quote.author}}</ol>
    </a>
    <button class="delete" title="delete quote"
(click)="delete(quote)">x</button>
  </li>
</ul>
<div>
  <label>Quote:
    <input #quoteQuote />
  </label>
  <label>Author:
    <input #quoteAuthor>
  </label>
  <label>Submitted By:
    <input #quoteSubmittedBy>
  </label>

  <button (click)="add(quoteQuote.value, quoteAuthor.value, quoteSubmittedBy.value); quoteQuote.value=''; quoteAuthor.value; quoteSubmittedBy.value">
    add
  </button>
</div>
