/* HeroesComponent's private CSS styles */
.selected {
  background-color: #CFD8DC !important;
  color: #369;
  border-radius: 4vh;
}
.quotes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 50em;
}

.quotes li.selected:hover {
  background-color: #BBD8DC !important;
  color: white;
}
.quotes li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;
}
