@import url('https://fonts.googleapis.com/css?family=Gugi');

h2 {
  font-family: 'Gugi', cursive;
}

button {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
