/* You can add global styles to this file, and also import other style files */
/* Application-wide Styles */
body {
  background-color: #14ABC6;
  animation: colorchange 50s; /* animation-name followed by duration in seconds*/
     /* you could also use milliseconds (ms) or something like 2.5s */
  -webkit-animation: colorchange 30s; /* Chrome and Safari */
}

@keyframes colorchange
{
  0%   {background: #011015;}
  25%  {background: #0C3046;}
  50%  {background: #015B90;}
  75%  {background: #0C84A7;}
  100% {background: #14ABC6;}
}

@-webkit-keyframes colorchange /* Safari and Chrome - necessary duplicate */
{
  0%   {background: #011015;}
  25%  {background: #0C3046;}
  50%  {background: #015B90;}
  75%  {background: #0C84A7;}
  100% {background: #14ABC6;}
}
